<%- include('../_partial/_header'); -%>

    <h1>Welcome to home</h1>
    <p>
        Please, select one of the options below.
    </p>
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="/newSurvey"><button type="button" class="btn btn-secondary">Create New Survey</button></a>
        <a href="/consultSurvey"><button type="button" class="btn btn-secondary">Consult Survey</button></a>
        <a href="/voteSurvey"><button type="button" class="btn btn-secondary">Vote</button></a>
    </div>

<%- include('../_partial/_footer'); -%>