<%- include('../_partial/_header'); -%>

<div class="col-md-8">

    <div class="panel panel-default">

        <div class="panel-heading">
            <h1>Vote Survey</h1>
            <p>
                Please, write the survey name you would like to vote.
            </p>
        </div>
        <div class="panel-body">
            <form class="form-survey" method="GET" action="/consultSurveyPost">
                <div id="form">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Survey Name" name="survey-name"
                            aria-describedby="basic-addon1">
                    </div>
                    <input type="submit" class="btn btn-default navbar-btn" value="Submit" />
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('../_partial/_footer'); -%>